*
{
    margin: 0;
    padding: 0;
    font-family: consolas;
}

.wavy{
    position: relative;
    -webkit-box-reflect: below -5px linear-gradient(transparent, rgba(0,0,0,0.2));
    span {
        position: relative;
        display: inline-block;
        color: #000;
        height: 30px;
        width: 30px;
        font-size: 3em;
        margin: 330px 0 0 5px;
        text-transform: uppercase;
        animation: animate 1s ease-in-out infinite;
        animation-delay: calc(0.1s * var(--i));


    }
}


@keyframes animate{
    0%{
      transform: translateY(0px);  
    }
    20%{
        transform: translateY(-20px);  
    }
    40%,100%{
        transform: translateY(0px);
    }
}

// @media (max-width : 770px){
//     .wavy {
//         .span{
//             height: 20px;
//             width: 30px;
//             font-size: 1em;
//             margin-top: 230px;
//         }
//     }
// }