.Card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background: linear-gradient(10deg, rgb(255,100,100),rgb(255,150,150));
    transition: all .4s ease-in-out;
    overflow: hidden;
    // z-index: 50;
    
    &:hover .overlay {
        opacity: 1;
    }
    
    &:hover{
        border: 2px solid rgb(195,157,107);
        box-shadow: 0 0 20px 8px  #aaa ; 
        z-index: 100;  
    }
    
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    overflow: hidden;
    border-radius : 10px;
    transition: opacity 1s;


    img{
        display: block;
        height: 100%;
        width: 100%;
    }
}