body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    background: rgb(20, 20, 20);
}

/* @media (max-width : 770px){
    body{
        margin: 2% 2% !important;
    }
} */